##############
## Configuration for script
##
## Usage
##
## Parameter=Value
## Example
## BAK_DIR=/hypersql/bak
###############

# Connection Info
CON_SOCKET_DIR=/var/run/hypersql
CON_USER=postgres
CON_PORT=5432

# Backup Directories
BAK_DIR=/hypersql/bakdir

# Log Directory & Enable
#
# File will be created like 'backup-YYYYMMDD_HHMMSS.log'
#
# N     -  Not logging at all
# Y   -  Log trace (very verbose debugging), debug, info, warnings and errors
#
BAK_LOG_ENABLE=Y
BAK_LOG_DIR=/hypersql/pg/14/log/backup

# Backup Period
# 0 : just one time 1 : everyday   2 : every sunday   3 : every first date of the month
BAK_PERIOD=1



# BAK_COMPRESS_ENABLE
# Y : Backup with compression
# N : Backup without compression
# 
# COMPRESS_TYPE = gz
#
# COMPRESS_LEVEL = 0 ~ 9
# DEFAULT LEVEL = 6
BAK_COMPRESS_ENABLE=Y
BAK_COMPRESS_LEVEL=6

# BAK_CHECKPOINT_FAST
# Y : Checkpoint immediately
# N : Wait for checkpoint duration
BAK_CHECKPOINT_FAST=Y

# BAK_ASYNC
# Y : Backup Asynchronized / This is faster than Sync but it can cause data loss
# N : Backup Synchronized
BAK_ASYNC=N

# Archive Policy
# Y : After success of backup, old archive will be removed.
# N : Maintain old archives.
#REMOVE_ARCHIVE=N
