##############
## Configuration for script
##
## Usage
##
## Parameter=Value
## Example
## BAK_DIR=/hypersql/bak
###############

# Connection Info
# Set OpenSQL Cluster Connection Info
# CON_TYPE
# P : Backup from Primary Server IP(Streaming Replication)
# S : Backup from Standby Server IP(Streaming Replication)
# L : Backup from Single server(VIP or RIP) OR Local Server (Using Unix Domain Socket)
# 
# You have to connect to port of PostgreSQL not any other middleware
#
# CON_HOST
# Write IP OR Hostname OR Unix Domain Socket
# If CON_TYPE P OR S, Write two host of primary and standby)
# Ex) CON_HOST=(192.168.184.1 192.168.184.2)
# CON_PGVERSION = PostgreSQL client's major version in this server. 
# Not dbms server's version.

CON_PGVERSION=15
CON_TYPE=L
CON_HOST=(192.168.200.71)
#CON_HOST=(/var/run/opensql)
CON_USER=postgres
CON_PORT=5432
CON_DATABASE=postgres
CON_RETRY_COUNT=3
CON_RETRY_TIME=5
CON_RETRY_ROLE=N

# Backup Directories
BAK_DIR=/home/opensql/bak
BAK_TYPE=L #Logical

# Log Directory & Enable
#
# File will be created like 'backup-YYYYMMDD_HHMMSS.log'
#
# N     -  Not logging at all
# Y   -  Log trace (very verbose debugging), debug, info, warnings and errors
#
BAK_LOG_ENABLE=Y
BAK_LOG_DIR=/home/opensql/log

# BAK_CHECK_PROGRESS
# BAK_CHECK_PROGRESS_ENABLE=Y : CHECK PROGRESS OF BACKUP
# BAK_CHECK_PROGRESS_ENABLE=N : DON'T CHECK PROGRESS OF BACKUP
#
# BAK_CHECK_PROGRESS_TIME
# CHECK CYCLE OF PROGRESS
# Unit is seconds
# RANGE : 1 ~ 99 (sec)
#
BAK_CHECK_PROGRESS_ENABLE=Y
BAK_CHECK_PROGRESS_TIME=1

# Backup Period
# 0 : just one time 1 : everyday   2 : every sunday   3 : every first date of the month   4: custom
# BAK_DAY_OF_MONTH = Day for backup every month
# BAK_DAY_OF_WEEK = Day for backup every month
# MONDAY : 1  ~  SUNDAY : 7
# ALL TIME : *
# If you want set many time use '()'
# Ex) BAK_DAY_OF_WEEK=(1,3,5)  = MONDAY, WEDNESDAY, FRIDAY

# TIME FORMAT IS HH24
BAK_PERIOD=0
BAK_DAY_OF_MONTH=*
BAK_DAY_OF_WEEK=*
BAK_TIME_HOUR=16
BAK_TIME_MINUTE=53

# BAK_COMPRESS_ENABLE
# Y : Backup with compression
# N : Backup without compression
# 
# COMPRESS_TYPE=gz
#
# COMPRESS_LEVEL=0 ~ 9
# DEFAULT LEVEL=6
BAK_COMPRESS_ENABLE=
BAK_COMPRESS_LEVEL=6

# BAK_CHECKPOINT_FAST
# Y : Checkpoint immediately
# N : Wait for checkpoint duration
BAK_CHECKPOINT_FAST=Y

# BAK_ASYNC
# Y : Backup Asynchronized / This is faster than Sync but it can cause data loss
# N : Backup Synchronized
BAK_ASYNC=N

# Archive Policy
# Y : After success of backup, old archive will be removed.
# N : Maintain old archives.
BAK_REMOVE_ARCHIVE=N
BAK_ARCHIVE_DIR=/var/lib/pgsql/15/archive

# Max rate
# maximum transfer rate to transfer data directory
# (in kB/s, or use suffix "k" or "M")
#MAX_RATE=32k
