##############
## Configuration for script
##
## Usage
##
## Parameter=Value
## Example
## BAK_DIR=/hypersql/bak
###############

# Connection Info
# Set OpenSQL Cluster Connection Info
# CON_TYPE
# P : Backup from Primary Server IP(Streaming Replication)
# S : Backup from Standby Server IP(Streaming Replication)
# L : Backup from Single server(VIP or RIP) OR Local Server (Using Unix Domain Socket)
# 
# You have to connect to port of PostgreSQL not any other middleware
#
# CON_HOST
# Write IP OR Hostname OR Unix Domain Socket
# If CON_TYPE P OR S, Write two host of primary and standby)
# Ex) CON_HOST=(192.168.184.1 192.168.184.2)
CON_TYPE=L
#CON_HOST=(192.168.184.130 192.168.184.131)
CON_HOST=(/var/run/opensql)
CON_USER=postgres
CON_PORT=5432
CON_RETRY_COUNT=3
CON_RETRY_TIME=5

# Backup Directories
BAK_DIR=/opensql/bakdir

# Log Directory & Enable
#
# File will be created like 'backup-YYYYMMDD_HHMMSS.log'
#
# N     -  Not logging at all
# Y   -  Log trace (very verbose debugging), debug, info, warnings and errors
#
BAK_LOG_ENABLE=Y
BAK_LOG_DIR=/opensql/pg/14/log/backup

# BAK_CHECK_PROGRESS
# BAK_CHECK_PROGRESS_ENABLE=Y : CHECK PROGRESS OF BACKUP
# BAK_CHECK_PROGRESS_ENABLE=N : DON'T CHECK PROGRESS OF BACKUP
#
# BAK_CHECK_PROGRESS_TIME
# CHECK CYCLE OF PROGRESS
# It's unit is seconds
# RANGE : 1 ~ 99
#
BAK_CHECK_PROGRESS_ENABLE=Y
BAK_CHECK_PROGRESS_TIME=1

# Backup Period
# 0 : just one time 1 : everyday   2 : every sunday   3 : every first date of the month
BAK_PERIOD=0

# BAK_COMPRESS_ENABLE
# Y : Backup with compression
# N : Backup without compression
# 
# COMPRESS_TYPE=gz
#
# COMPRESS_LEVEL=0 ~ 9
# DEFAULT LEVEL=6
BAK_COMPRESS_ENABLE=N
BAK_COMPRESS_LEVEL=6

# BAK_CHECKPOINT_FAST
# Y : Checkpoint immediately
# N : Wait for checkpoint duration
BAK_CHECKPOINT_FAST=Y

# BAK_ASYNC
# Y : Backup Asynchronized / This is faster than Sync but it can cause data loss
# N : Backup Synchronized
BAK_ASYNC=N

# Archive Policy
# Y : After success of backup, old archive will be removed.
# N : Maintain old archives.
#REMOVE_ARCHIVE=N

# Max rate
# maximum transfer rate to transfer data directory
# (in kB/s, or use suffix "k" or "M")
#MAX_RATE=32k
